# Virtual environment
.venv/
venv/
.env/

# Python cache
__pycache__/
*.py[cod]

# DuckDB database files
*.duckdb
*.db

# VS Code
.vscode/

# Operating system files
Thumbs.db
.DS_Store

# Node.js
node_modules/

# Npm logs
npm-debug.log
yarn-error.log

# Copilot templates
COMMIT_MESSAGES/
ISSUE/

# pyinstaller
dist/
build/
*.egg-info/

# local test files
TEST_DATS/

# artifact of debugging
logs/

# for a temporary time, ignore test_resume.py
tests/test_resume.py
